window {
    margin: 5px;
    border: 2px solid {{colors.primary_container.default.hex}};
    background-color: {{colors.primary_container.default.hex}};
}

#input {
    margin: 5px;
    border: 2px solid {{colors.surface_tint.default.hex}};
    background-color: {{colors.surface_tint.default.hex}};
}

#inner-box {
    margin: 5px;
    border: 2px solid {{colors.surface_tint.default.hex}};
    background-color: {{colors.surface_tint.default.hex}};
}

#outer-box {
    margin: 5px;
    border: 2px solid {{colors.source_color.default.hex}};
    background-color: {{colors.source_color.default.hex}};
}

#scroll {
    margin: 5px;
    border: 2px solid {{colors.surface_tint.default.hex}};
    background-color: {{colors.surface_tint.default.hex}};
}

#text{
    color: {{colors.on_secondary.default.hex}};
}

#text:selected {
    background-color: {{colors.tertiary.default.hex}};
    color: {{colors.on_secondary.default.hex}};
} 

#entry:selected {
    background-color: rgba(0,0,0,0);
} 